<div class="header_fix">
	<div class="gd_h">
		<div class="bg_logo"></div>
		<i class="fa fa-search" aria-hidden="true"></i>
	</div>

	<ul class="nav">
		<li id="sxlx" class="ac">时下流行</li>
		<li id="gd">歌单</li>
		<li id="phb">排行榜</li>
		<li id="rmgs">热门歌手</li>
	</ul>
</div>

<div class="lunbotu">
	<img src="img/test/banner1.jpg" class="auto">
</div>
<div class="tjgd_bar">
	<div class="l">推荐歌单</div>
	<span><a id="more" href="#">更多 >></a></span>
</div>



<div id="playlists" class="box"></div>

<div id="templateCell" style="display: none;">
	<div class="cell">
		<a>
			<div></div>
			<img src="img/test/109951162857949886.jpg" class="auto">
			<p></p>
		</a>
	</div>
</div>

